html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  background-image:
    radial-gradient(ellipse 50% 40% at top, rgba(0, 106, 119, 0.2), transparent),
    radial-gradient(ellipse at center, #2c2c2c, #111111);
    background-attachment: fixed;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
